.hero-section {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  background: linear-gradient(135deg, #0099f7, #f11712);
  color: white;
  padding: 50px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border: none;
  

  .content {
      max-width: 500px;

      h1 {
          font-size: 2.5em;
          margin-bottom: 20px;
      }

      p {
          font-size: 1.2em;
          margin-bottom: 30px;
      }

      .buttons {
          button {
              margin-right: 15px;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &.service-btn {
                  background-color: #fff;
                  color: #0099f7;
              }

              &.contact-btn {
                  background-color: #0099f7;
                  color: #fff;
              }

              &:hover {
                  opacity: 0.8;
              }
          }
      }
  }

  .illustration {
      max-width: 500px;
      width: 100%;
      padding: 20px;

      img {
       
          max-width: 100%;
          height: auto;
          display: block;
      }
  }

  .custom-shape-divider-bottom-1724778533 {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1724778533 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 155px;
}

.custom-shape-divider-bottom-1724778533 .shape-fill {
    fill: #ffffff;
   

}
}
